:root {
    --main-color: black;
    scroll-behawior: smooth;
}

nav { 
    text-align: center;
}
.burger-menu a {
    display: block;
    color: black;
    text-decoration: none;
}
header {
    background-image: url(../img/fabia.jpg);
    background-size: cover;
    background-position: center;
    min-height: 900px;
}
 .first-leaf a {
    text-decoration: none;
    padding: 0px 0px 10px 10px;  
    background-color: blue;  
    color: white;
 }
 .first-leaf p {
     color: rgb(16, 136, 228);
     font-weight: bold;
     font-size: 18px;
 }
 .first-leaf h1{
     font-size: 200px;
     color: rgb(246, 196, 61);
 }
 .classes {
     text-align: center;
     max-width: 100%;
 }
 .map {

 }